boost==0.1 
cmake==3.25.0
Click>=6.0

Django==4.1
django-cors-headers
DateTime==4.5

numpy==1.23.3
opencv-python==4.5.3.56
#dlib==19.23.0
./dlib-19.22.99-cp39-cp39-win_amd64.whl

imutils==0.5.3
requests>=2.20.0
tensorflow==2.7.2
keras==2.7.0
Pillow==9.0.1
requests-html==0.10.0
channels==4.0.0
daphne==2.5.0
whitenoise==6.4.0
psycopg2-binary
protobuf==3.20.*
pyngrok==5.2.1